input { 
    background: rgb(228, 144, 119); }
input:focus {
     background: rgb(224, 243, 197); }
legend{
    color: rgb(255, 0, 0);
    font-style: italic;
    font-weight: bold;
    font-size:2em;
}

.font1{
    font-variant: small-caps;
    color:darkgreen;
    font-weight: bold;
}
.font2{
    font-family:cursive;
    color:rgba(107, 2, 206, 0.959)
}
.font3{
    color:indigo;
}
.font4{
    color:darkred;
    font-style:oblique;
    font-size:medium;
}
.styled {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .styled li {
    padding-left: 1rem;
    text-indent: -0.75rem;
  }
  .styled li::before {
    content:  &#128512 ;
  }
  .yellow{
      background-color: rgb(243, 234, 131);
  }
  .green{
    background-color:aquamarine
  }
  