
.grid{
     display: grid;
     margin:1px;
    padding: 2em;
    grid-template-columns: 1fr 1fr 1fr 1fr;
     grid-template-rows: auto;
     gap: 1em;

}
.grid-container{
    display: grid ;
    padding: 2em;
    margin: 1px;
    grid-template-columns: 1fr 1fr;
   /* grid-gap:10px;*/
    text-align: center;
}
.green{
    background-color: rgb(134, 247, 190);
    grid-column-start: 1;
    grid-column-end:4;
}
   

.yellow{
    background-color:yellow;
    grid-column-start: 1;
    grid-column-end:2;
}


.red{
    background-color: rgb(240, 118, 118);
    grid-column-start: 2;
    grid-column-end: 3;
}
.blue{
    background-color:deepskyblue;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}
.ong{
    background-color: darkorange;
    grid-column-start: 1;
    grid-column-end: 3;
}
.cell{
    background-color: white;
    padding: 1em;
}
.animation{
    position:relative;
    animation-name: aname;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    
    
}
#d1{
    animation-timing-function: linear;
}
@keyframes aname{
    from{left:0px;}
    to{left:250px;}
    
}